<ul id="eshelf_links" class="nav-list">
  <% if current_user %>
    <li class="<%= "active" if params[:action].eql? "account" %>"><%= link_to(t('shelf.links.account_html'), 'https://bobcat.library.nyu.edu/primo-explore/account?vid=NYU&section=overview') %></li>
    <%= content_tag(:li, link_to(t('shelf.links.ill_html'), ill_url)) if ill_url %>
  <% end %>
  <li class="<%= "active" unless params[:action].eql? "account" %>"><%= link_to("#{t('shelf.links.records_html')} (#{user_records.length})", root_url, html_options = {:id => "records"}) %></li>
</ul>
