<div style="background-color:  #E5C6F5; padding: 5px 15px; margin-bottom: 5px;">
  <h2>System Alert: this Saved Items system is going away December 23, 2023</h2>
  <p>NYU Libraries is moving to a new catalog system, with a new saved items tool.</p>
  <p><strong>The ability to save items from the catalog will be unavailable from Monday, November 13, 2023 - Monday, January 8, 2024.</strong></p>
  <ul>
    <li>As an alternative, please plan to use your <a href="https://guides.nyu.edu/citations/tools" target="_blank">preferred citation management tools</a> or the catalog's email function.</li>
  </ul>
  <p><strong>Unfortunately, we cannot migrate existing saved items (those added up until November 13, 2023) to the new system.</strong></p>
  <ul>
    <li style="padding-bottom: 5px;">You can get a list of the current saved items in your library account up until Friday, December 23, 2023. After that date this system will not be available.</li>
    <li><a href="https://docs.google.com/document/d/1fx9NKxPv6IgH14hyvBS02PYFMLLZkMQoHfHspUEFN2o/edit?usp=sharing" target="_blank">How to export to email or other citation management tools - FAQ for BobCat "Saved Items" (E-Shelf) Retirement (Google Doc).</a></li>
  </ul>
</div>
<div id="controls" class="btn-toolbar js">
  <%= button_dropdown(select_title, select_options, false) %>
  <div class="btn-group"><%= link_to(t('record.collection.delete.title_html'), records_path, data: { confirm: t('record.collection.delete.confirmation_html') }, method: :delete, id: "delete", class: "btn btn-danger") %></div>
  <%= button_dropdown(t('record.collection.email.title_html'), email_options) %>
  <%= button_dropdown(t('record.collection.print.title_html'), print_options) %>
  <%= button_dropdown(t('record.collection.export.title_html'), export_options) %>
  <%= right_button_dropdown(t('record.collection.sort.title_html') + " ".html_safe + current_sort_label, sort_options)%>
  <%= right_button_dropdown(content_tag(:span, "#{per_page} ") + t('record.collection.per_page.title_html'), per_page_options)%>
</div>
