<%= form_tag email_records_path, method: :post, id: "email_records", class: "form " do %>
  <% @records.each do |record| %>
    <%= hidden_field_tag "id[]", record.id, id: "record_#{record.id}" %>
  <% end %>
  <h2><%= label_tag :to_address, t('record.collection.email.to_address_html') %></h2>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><%= fa_icon 'envelope' %></div>
      <%= text_field_tag :to_address, (current_user) ? current_user.email : "", class: 'form-control' %>
    </div>
  </div>
  <% if @email_format %>
    <%= hidden_field_tag :email_format, @email_format %>
  <% else %>
    <%= tag :br %>
    <%= label_tag :email_format, t('record.collection.email.format_html') %>
    <%= select_tag :email_format, email_options_for_select %>
  <% end %>
  <%= submit_tag t('record.collection.email.submit_html') %>
<% end %>
